.navbarBox {
	width: 97%;
	max-width: 1000px;
	margin: 0 auto;
}

header {
	background: transparent;
	color: #fff;
	padding: 1.3em 0;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

header.scrolled {
	background: #f54848;
	transition: ease-in-out 400ms;
}

header::after {
	content: '';
	clear: both;
	display: block;
}

.logo {
	float: left;
	font-size: 2.1rem;
	margin: 0;
	text-transform: uppercase;
	font-family: 'Luckiest Guy', cursive !important;
}

.NavigationMenu {
	position: absolute;
	top: 100%;
	right: 0%;
	background: #926545;
	clip-path: circle(0px at top right);
	transition: clip-path ease-in-out 700ms;
	animation-delay: 0;
	/*   display: none; */
}

.NavigationMenu--open {
	clip-path: circle(250% at top right);
	z-index: 10;
	/*   display: block; */
}

.NavigationMenu ul {
	margin: 0;
	padding: 0.5rem 0 0 0;
	list-style: none;
}

.NavigationMenu li {
	border-bottom: 1px solid #aa7d5d;
}

.NavigationMenu li:last-child {
	border-bottom: none;
}

.NavigationMenu a {
	color: #fff;
	display: block;
	padding: 1em 2em 1em 0.8em;
	text-transform: uppercase;
	text-decoration: none;
}

.NavigationMenu a:hover, .NavigationMenu a:focus {
	color: #fff;
	text-decoration: none;
}

.NavigationMenu--icon {
	display: inline-block;
	font-size: 1.5em;
	margin-right: 1em;
	width: 1.1em;
	text-align: right;
	color: rgba(255, 255, 255, .4);
}

.menu-toggle {
	padding: 1em;
	position: absolute;
	top: 1.3em;
	right: .5em;
	cursor: pointer;
}

.hamburger, .hamburger::before, .hamburger::after {
	content: '';
	display: block;
	background: #fff;
	height: 3px;
	width: 1.75em;
	border-radius: 3px;
	transition: all ease-in-out 300ms;
}

.hamburger::before {
	transform: translateY(-6px);
}

.hamburger::after {
	transform: translateY(3px);
}

.open .hamburger {
	transform: rotate(45deg);
}

.open .hamburger::before {
	opacity: 0;
}

.open .hamburger::after {
	transform: translateY(-3px) rotate(-90deg);
}

@media (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.NavigationMenu {
		height: auto;
		position: relative;
		background: transparent;
		float: right;
		clip-path: initial;
	}
	.NavigationMenu li {
		display: inline-block;
		border: none;
	}
	.NavigationMenu a {
		padding: 0;
		margin-left: 2em;
	}
	.NavigationMenu a:hover, .NavigationMenu a:focus {
		background: transparent;
	}
	.NavigationMenu--icon {
		display: none;
	}
}